# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages
- Popular Libraries
- Popular Tools
- Arthimetic Operations in Python

Some of the popular languages that DataScientists use are:
1. Python
2. SQL
3. Julia
4. Scala

Some of the popular libraries that Data Scientists use are:
1. Matplotlib
2. Pandas
3. NumPy
4. Seaborn

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebook|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#this code will convert 200 minutes into hours
200/60

3.3333333333333335

## Author
Jawad Akbar